<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<context:component-scan base-package="com.github.bbva.logsReader.*" />

	<context:property-placeholder location="classpath:spring//properties//config.properties" />

	<bean id="crudBean" class="com.github.bbva.logsReader.db.CRUD" init-method="init" />
	
	<bean id="fileUtilsBean" class="com.github.bbva.logsReader.utils.FilesUtils" init-method="init" />
	
	<bean id="daemonBean" class="com.github.bbva.logsReader.utils.Daemon" init-method="init" />
</beans>